<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% block body %}{% endblock %}
</body>

<footer>Authentication version {{ auth_version }}</footer>
</html>