{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block body %}
<p>
    Changing password for {{ current_user.uid }}. You will be logged out and will need to sign back in with your
    new password.
</p>

<form action='change_password' method='POST'>
    <input type='password' name='old_pw' id='old_pw' placeholder='old password'/>
    <input type='password' name='new_pw' id='new_pw' placeholder='new password'/>
    <input type='submit' name='submit'/>
</form>
{% endblock %}
