{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<p>{{ message }}</p>

<form action="login" method="POST">
    <input type="text" name="username" id="username" placeholder="username"/>
    <input type="password" name="pw" id="pw" placeholder="password"/>
    <input type="submit" name="submit"/>
    <input type="text" name="redirect" value="{{ redirect }}" readonly style="display:none"/>
</form>
{% endblock %}
