{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block body %}
<p>You are logged in as: {{ current_user.uid }}.</p>

<ul>
    <li><a href="/change_password">Change password</a></li>
    <li><a href="/logout">Log out</a></li>
</ul>
{% endblock %}
